body{
    width: 85%;
    margin: 0 auto;
    background-color: #e2d7aa;
    font-family: Roboto, sans-serif;

}
nav ul{
    list-style: none;
    text-align: center;
}
nav li{
    display: inline-block;
}